*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 2px solid red;
    padding: 2em 0.5em;
    display: block;
    text-align: center;
    justify-content: center;
}

#main{
    border: 2px solid green;
    padding: 1em ;
}

#title{
    margin-bottom: 1.5em;
}

#title>h1{
    margin-bottom: 0.3em;
}

#img-div{
    border: 2px solid blue;
    padding: 0.8em;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#img-caption{
    margin: 0.5em 0;
}